.navbar-default {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(5, 71, 3, 0.9);
    margin: 0;
    cursor: pointer;
}

.login-btn {
    margin-right: 3em;
    margin-top: .5em;
    cursor: pointer;
   
}

.login-btn:hover{
    text-decoration: underline;
    color: white;
}

.navbar-brand{
    font-size: 3em;
    color: white;
    padding-left: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: .2em;
    text-decoration: none;
    
}

.navbar-brand.active,
.navbar-brand:focus,
.navbar-brand:visited {
    color: white;
    background-color: transparent;
}

.navbar-brand:hover {
    text-decoration: underline;
    color: white;

}

.navbar-nav > li > a {
    font-size: 1.7em; 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-header img{
    width: 5em;
}

.username {
    font-size: 1.8em;
    margin-right: 4.5em;
    margin-top: .7em;
    color: white;

}