<!-- home.component.html -->
<section class="hero">
  <div class="hero-img">
    <img src="../../assets/images/heroImage.jpg" alt="Hero Image">
  </div>
    <div class="hero-content">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Find Your Perfect Golf Course</h1>
          <p class="card-text">Explore top golf courses, book tee times, and manage your golf experience with ease.</p>
          <div class="btn-group">
            <a class="btn btn-primary btn-lg" routerLink="/courses">Explore Courses</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  