.card-img img{
  max-width: 100%;
  height: auto;
}

.container {
    max-width: 960px;
  }

  .col-md-4{
    padding: 1.5rem;
  }
  
  .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  
  .btn {
    font-size: 1.6rem;
    padding: 0.25rem 0.5rem;
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  .modal-footer {
    border-top: none;
  }
  
  .card-title {
    font-size: 1.50rem;
  }

  .btn-lg{
    margin: 1em;
    font-size: 1.7em;
  }
  