
<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-md-12 text-right">
      <a class="btn btn-primary"  [routerLink]="['/courses', 'new-course']">Add Course</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let course of courses">
      <div class="card">
        <div class="card-img">
          <img [src]="course.image" alt="{{course.name}}">
        </div>
        <div class="card-header">
          <h5 class="card-title">{{ course.name }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{ course.description }}</p>
          <p class="card-text"><strong>Location:</strong> {{ course.location }}</p>
        </div>
        <div class="card-footer text-right">
          <a class="btn btn-info mr-2" (click)="editCourse(course)">Edit</a>
        </div>
      </div>
    </div>
  </div>


  